---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout uid="about" template="home">
	<div data-gallery-container class="container">
		<Header />
		<div class="about">
			<p
				class="about__text"
				data-text-animation
				data-text-animation-in-duration="0.6"
				data-text-animation-out-duration="0.3"
			>
				We are two storytellers in the wedding industry for over four years,
				working together since 2023. <br />In 2025, we moved beyond traditional
				films to create something more personal capturing genuine, unscripted
				moments and blending them with our own music to craft timeless memories.
				For us, this is more than work, it’s a passion. We’re truly grateful for
				the trust so many couples have given us, and we can’t wait to create a
				film you’ll cherish forever.
				<br /><br />

				We feel blessed that so many couples have trusted us to preserve their
				memories over the years. It's a true honor and we are beyond grateful.
			</p>

			<div class="about__faq">
				<h2
					data-text-animation
					data-text-animation-in-duration="0.6"
					data-text-animation-out-duration="0.3"
				>
					FAQs
				</h2>

				<div
					class="about__faq-item"
					data-text-animation
					data-text-animation-in-duration="0.6"
					data-text-animation-out-duration="0.3"
				>
					<h3>Can we meet before booking?</h3>
					<p>
						Yes, we strongly encourage it. A personal conversation allows us to
						align expectations and ensure a genuine connection. Our work is
						built on trust, and that relationship begins well before the wedding
						day.
					</p>
				</div>

				<div
					class="about__faq-item"
					data-text-animation
					data-text-animation-in-duration="0.6"
					data-text-animation-out-duration="0.3"
				>
					<h3>What is your creative approach?</h3>
					<p>
						Our work is guided by authorship. We don't offer videos on demand or
						fixed formats. Each film is shaped through our vision, adapted to
						your story.
					</p>
				</div>

				<div
					class="about__faq-item"
					data-text-animation
					data-text-animation-in-duration="0.6"
					data-text-animation-out-duration="0.3"
				>
					<h3>How do you approach filming on the wedding day?</h3>
					<p>
						Our presence is discreet and intentional. We don't over-direct, but
						we do gently guide when it elevates the story, creating space and
						simple scenarios where moments can unfold naturally. The goal is for
						you and your guests to feel fully present, while we focus on
						capturing atmosphere, emotion, and the rhythm of the day.
					</p>
				</div>

				<div
					class="about__faq-item"
					data-text-animation
					data-text-animation-in-duration="0.6"
					data-text-animation-out-duration="0.3"
				>
					<h3>Do you offer custom projects?</h3>
					<p>
						We're always inspired to bring unique stories to life, projects we
						pour our passion into and craft with the highest artistic vision.
						Please don't hesitate to share yours, we're always excited to hear
						it.
					</p>
				</div>
				<div
					class="about__faq-item"
					data-text-animation
					data-text-animation-in-duration="0.6"
					data-text-animation-out-duration="0.3"
				>
					<h3>Can we share some reference videos that we like?</h3>
					<p>
						Absolutely, feel free to share any references that inspire you ,we
						always appreciate understanding your vision.
						<br />
						That said, our approach is not centered around trends or fast-paced social
						media styles. We are drawn to authentic emotions, honest moments, and
						a cinematic storytelling style that preserves the essence of your day
						in a timeless and meaningful way.
					</p>
				</div>
			</div>
		</div>
	</div>
</Layout>
