---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout uid="contact" template="home">
	<div data-gallery-container class="container">
		<Header />
		<div class="contact">
			<h1 data-text-animation data-text-animation-in-duration="0.6" data-text-animation-out-duration="0.3">
				Contact Us
			</h1>

			<form class="contact__form" data-text-animation data-text-animation-in-duration="0.6" data-text-animation-out-duration="0.3">
				<div class="contact__field">
					<label for="name">Name</label>
					<input type="text" id="name" name="name" required autocomplete="name" />
				</div>

				<div class="contact__field">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" required autocomplete="email" />
				</div>

				<div class="contact__field">
					<label for="phone">Phone</label>
					<input type="tel" id="phone" name="phone" autocomplete="tel" />
				</div>

				<div class="contact__field">
					<label for="date">Wedding Date</label>
					<input type="text" id="date" name="date" placeholder="e.g. June 2026" />
				</div>

				<div class="contact__field">
					<label for="message">Message</label>
					<textarea id="message" name="message" rows="1" required></textarea>
				</div>

				<button type="submit">Send</button>
			</form>
		</div>
	</div>
</Layout>
