---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";

const videos = [
	{ src: "https://res.cloudinary.com/dunixnfkj/video/upload/v1774791182/grid_5x5_tall_2.mov", ar: "4/5" },
	{ src: "https://res.cloudinary.com/dunixnfkj/video/upload/v1774791236/nnn4444.mov", ar: "16/9" },
	{ src: "https://res.cloudinary.com/dunixnfkj/video/upload/v1774791249/grid_2024.mov", ar: "16/9" },
];
---

<Layout uid="films" template="home">
	<div data-gallery-container class="container">
		<Header />
		<div class="films-stack" data-films-stack>
			{videos.map((v, i) => (
				<section class="films-panel" data-films-panel>
					<div class="films-panel__inner" style={`--ar: ${v.ar};`}>
						<video
							src={v.src}
							autoplay
							muted
							loop
							playsinline
						/>
					</div>
				</section>
			))}
		</div>
	</div>
</Layout>
