<header class="frame">
	<a href="/" class="logo">
		<h1>Soqrat Films</h1>
	</a>
	<ul>
		<li><a href="/about">About</a></li>
		<li><a href="/films">Films</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</header>
