---
import "../styles/index.css";
import MobileMenu from "../components/mobile-menu.astro";

const { uid, template } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="preload"
			href="/fonts/satoshi/Satoshi-Variable.ttf"
			as="font"
			type="font/ttf"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/satoshi/the-seasons-regular.ttf"
			as="font"
			type="font/ttf"
			crossorigin
		/>
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="We are two storytellers in the wedding industry for over four years, working together since 2023. In 2025, we moved beyond traditional films to create something more personal capturing genuine, unscripted moments and blending them with our own music to craft timeless memories. For us, this is more than work, it's a passion. We're truly grateful for the trust so many couples have given us, and we can't wait to create a film you'll cherish forever." />
		<meta property="og:title" content="Soqrat Films" />
		<meta property="og:description" content="We are two storytellers in the wedding industry for over four years, working together since 2023. In 2025, we moved beyond traditional films to create something more personal capturing genuine, unscripted moments and blending them with our own music to craft timeless memories." />
		<meta property="og:url" content="https://soqratfilms.com" />
		<link rel="stylesheet" href="https://use.typekit.net/gwa0xin.css" />
		<title>Soqrat Films</title>
	</head>
	<body data-barba="wrapper">
		<div id="app" data-barba="container" data-barba-namespace={uid}>
			<div id="smooth-content" data-page-template={template}>
				<slot />
			</div>
		</div>
		<canvas id="webgl"></canvas>
		<MobileMenu />
		<script src="../app/main.ts"></script>
	</body>
</html>
